@import "../../../../lib/styles/main.import.less";

#registration, #emailVerification, #regDelivery, #regCart {
  margin-top: 120px;
  margin-bottom: 60px;
  background-color: white;
  font-family: @Type-Header;

  .signup_Title {
    width: 100%;
  }

  .registration_Main {
    margin-left: 10%;
    margin-right: 10%;
  }

  .title {
    text-align: center;
    color: @Green-Basic;
    font-size: 26px;
  }

  .subtitle {
    text-align: center;
    color: #999;
    margin-bottom: 40px;
  }


  label {
    color: #666;
    font-size: 18px;
  }

  input, select {
    height: 42px;
  }

  .reverify, .rereg {
    text-align: center;
    margin-bottom: 50px;
  }

  .btn-reverify, .btn-rereg {
    width: 180px;
    color: white;
    font-weight: 300;
  }

  button {
    height: 42px;
    width: 100%;
    margin-top: 6px;
    .btnGrad(top, @Green-Basic, @Green-Dark);

    &:hover {
      .btnGrad(top, @Green-Basic, @Green-Darkest);
    }

    font-size: 18px;
    font-weight: 600;
    border: white;
  }

  img {
    width: 100%;
  }

  .note {
    margin-top: 18px;
    color: #999;
    padding-left: 5%;
    padding-right: 5%;

  }

  .error {
    color: @Orange-Light;
  }

  .fa-spinner {
    float: right;
    margin-top: 3px;
    color: white;
  }

}

#emailVerification {
  margin-top: 150px;
  margin-bottom: 80px;

  text-align: center;

  .verificationFrame {
    border: solid 1px #bbb;
    border-radius: 4px;
    display: inline-block;
    padding: 35px 45px 0 45px;
    margin-bottom: 30px;

  }

  .email {
    margin-bottom: 20px;
    padding: 20px;
    text-decoration: underline;
  }

  .error {
    font-size: 16px;
    margin-top: 20px;
  }


  p {
    margin-top: 10px;
    font-size: 18px;
    a {
      cursor: pointer;
    }
  }

}

#regDelivery {
  .inputBlock {
    .citySelect,  .districtSelect {
      width: 100%;
      display: inline-block;
    }

    label {
      margin-top: 7px;
      text-align: left;
      float: left;
    }
  }

}

#regCart {
  .regCart-content {
    width: 1170px;
    margin: 0 auto;

    #cartDetailAddItem {
      button {
        width: auto;
      }

      .close {
        font-size: 42px;
      }

      h2 {
        color: @Green-Basic;
      }

      .servingItemsLabel, .cartItemsLabel {
        h4 {
          font-size: 20px;
          color: @Green-Basic;
        }
      }

      .modal-body {
        .cartEditBlock {
          color: #777;
          border: solid 2px @Green-Basic;
          border-radius: 4px;
          padding: 10px;

          .isServing {
            color: #777;
            border: solid 1px #888;
            border-radius: 2px;
            padding: 10px;
            display: inline-block;
            width: 46%;
            margin: 0 2% 0 2%;
            cursor: pointer;

            .fa-stack {
              float: left;
              line-height: normal;
              height: 24px;
            }

            .fa-stack-2x {
              font-size: 22px;
            }

            .fa-stack-1x {
              font-size: 16px;
              line-height: normal;
              margin-top: 3px;
            }

            i {
              margin-right: 6px;
              float: left;
            }

            h6 {
              width: auto;
              float: left;
              margin: 0;
              font-size: 16px;
              margin-top: 3px;
            }

            span+h6 {
              margin-left: 6px;
            }

          }

          .isServing:hover {
            background-color: lighten(@Orange-Light, 25%);
          }

          .isServing+.isServing {
            margin-top: 4px;
          }

          .isServing.selected {
            color: @Green-Basic;
            border-color: @Green-Basic;

          }



        }

        .col-md-2 {
          padding-top: 80px;
        }

      }

      button.modalCancelAdd {
        height: 42px;
        width: auto;
        margin-top: 6px;
        color: white;
        font-weight: lighter;
        .btnGrad(top, lighten(@Orange-Basic, 20%), @Orange-Basic);

        &:hover {
          .btnGrad(top, lighten(@Orange-Basic, 25%), @Orange-Dark);
        }

        font-size: 18px;
        border: white;
      }

      button.modalAddItem {

        color: white;
        font-weight: lighter;
      }

    }
  }

  @media only screen and (max-width: 1180px) and (min-width: 991px) {
    .regCart-content {
      width: auto;
      margin-right: 30px;
      margin-left: 30px;
    }

  }

  @media only screen and (max-width: 990px) {
    .regCart-content {
      width: auto;
      margin-right: 40px;
      margin-left: 40px;
    }

  }

  .fa-opencart {
    float: left;
    margin-top: 5px;
    color: @Green-Basic;
  }

  h3 {
    margin: 0;
    width: auto;
    float: left;
  }

  .fa-opencart+h3 {
    margin-left: 12px;
    color: @Green-Basic;
  }

  .form-divider {
    width: 100%;
    float: left;
    border-bottom: 1px solid #cccccc;
    margin-top: 10px;
    margin-bottom: 20px;
    position: relative;
    text-align: center;
  }

  .cartHeader {
    color: #777;
    h3 {
      float: left;
      margin: 0;

    }

    .addCart {
      cursor: pointer;
      color: @Green-Basic;
      border: solid 1px @Green-Basic;
      border-radius: 4px;
      display: inline-block;
      float: left;
      padding: 10px;
    }

    .cartTag {
      color: #888;
      border-bottom: solid 1px #888;
      border-radius: 4px;
      display: inline-block;
      float: left;
      padding: 11px 11px 10px 11px;
      cursor: pointer;

      i {
        display: none;
      }
    }

    .cartTag:hover {
      background-color: lighten(@Orange-Light, 25%);

      i {
        color: @Orange-Basic;
        display: inline-block;
        position: absolute;
        top: -2px;
        cursor: pointer;
        z-index: 1;
      }
    }

    .selectedCartTag.cartTag {
      color: @Green-Basic;
      border: solid 2px @Green-Basic;
      padding: 9px;
      cursor: default;

    }

    .cartTag+ .cartTag {
      margin-left: 10px;
    }

    .addCartCross {
      cursor: pointer;
      font-weight: lighter;
      color: #888;
      border: solid 1px #888;
      border-radius: 4px;
      display: inline-block;
      float: left;
      padding: 0 6px 0 6px;
      margin-top: 11px;

    }

    .addCartCross:hover {
      color: @Green-Basic;
      border: solid 1px @Green-Basic;
    }

    .cartTag+.addCartCross {
      margin-left: 14px;
    }

    .editCart {
      float: left;
      width: auto;
      i {
        margin-left: 16px;
        margin-top: 5px;
        cursor: pointer;
      }

    }
  }

  .cartDetailRow {
    margin-top: 15px;

    .cartDetail {
      padding: 14px;
      border: solid 2px @Green-Basic;
      border-radius: 4px;
      background-color: lighten(@Purple-Lightest, 30%);

      .costThisCart, .savingThisCart, .budgetThisCart {
        width: 100%;


        .costThisCartSum, .savingThisCartSum, .budgetThisCartSum {
          margin-top: 6px;
          margin-left: 15px;
          float: right;
          font-size: 18px;
        }

        .costThisCartTitle, .savingThisCartTitle, .budgetThisCartTitle {
          float: right;
        }
      }

      .cartDetailContainer {
        min-height: 300px;
        .emptyMessage {
          color: #777;
        }

        .cartDetailControl {
          display: inline-block;
          width: 100%;
          margin-bottom: 10px;

          .cartDetailAddItem {
            cursor: pointer;
            color: @Purple-Light;
            display: inline-block;
            width: auto;
            padding: 10px;
            border: solid 1px @Purple-Basic;
            border-radius: 4px;
          }

          .cartDetailNoItem {
            color: #AAA;
            display: inline-block;
            width: auto;
            padding: 10px;
            border: solid 1px #AAA;
            border-radius: 4px;
          }

          .cartDetailAddItem:hover {
            padding: 9px;
            border: solid 2px @Purple-Basic;
          }

          .cartDetailCancelEdit {
            cursor: pointer;
            color: @Orange-Basic;
            display: inline-block;
            width: auto;
            padding: 10px;
            border: solid 1px @Orange-Basic;
            border-radius: 4px;
          }

          .cartDetailCancelEdit:hover {

            padding: 9px;
            border: solid 2px @Orange-Basic;
          }


          .cartDaysRow {
            float: right;
            width: auto;
            margin-top: 14px;

            .cartDaysTitle {
              float: left;
              color: @Purple-Dark;
            }

            .cartDaysBlock {
              float: left;
              display: inline-block;

              .cartDay {
                display: inline-block;
                float: left;
                height: 20px;
                width: 20px;
                border: solid 1px;
                border-radius: 2px;
                padding-left: 2px;
                cursor: pointer;
              }

              .cartDay:hover {
                border-color: @Green-Dark;
                color: @Green-Dark;
                background-color: lighten(@Orange-Basic, 40%);
              }


              .cartDay.deliveryPick {
                background-color: @Green-Basic;
                color: white;
                border-color: @Green-Basic;

              }

              .cartDay+.cartDay {
                margin-left: 6px;
              }
            }
          }
        }


        .cartDetailList {
          .cartDetailItem {
            position: relative;
            display: inline-block;
            width: 100%;
            border-style: solid;
            border: solid 1px @Green-Basic;
            border-radius: 4px;
            background-color: @Green-Basic;

            .deleteItem {
              display: none;
              position: absolute;
              top: -8px;
              right: -5px;

              i {
                cursor: pointer;
                color: @Orange-Basic;
                padding: 2px;
                font-size: 16px;
              }


            }

            .cartDetailItemLeft {
              float: left;
              width: 25%;
              display: inline-block;

              .itemName {
                position: relative;
                float: left;
                display: inline-block;
                margin: 10%;
                color: white;
                width: 80%;
                padding-bottom: 10px;
                border-bottom: solid 2px white;
              }

              .itemGrade {
                margin-right: 10%;
                float: right;
                display: inline-block;
                color: white;

                h4 {
                  margin: 0;
                }

                .itemGradeSelection, .itemGradeTitle {
                  display: inline-block;
                  float: right;
                }

                .itemGradeSelection {
                  border: solid 1px white;
                  border-radius: 2px;
                  padding: 4px;

                  select {
                    background-color: @Orange-Basic;
                    border: none;
                    height: auto;
                    font-size: 16px;
                  }
                }

                .itemGradeTitle {
                  margin-top: 5px;
                }
              }

              h3, h4 {
                display: inline;
                float: left;
                color: white;
              }
            }

            .cartDetailItemRight {
              float: left;
              width: 75%;
              display: inline-block;
              background-color: lighten(@Green-Basic, 45%);
              min-height: 120px;


              .inputDetailHeader, .inputDetailEntries {
                margin: 10px;
                color: #666;

                .purchaseHeader {
                  border-bottom: solid 4px @Green-Basic;
                  padding-bottom: 2px;
                  background-color: @Green-Basic;
                  color: white;
                  text-align: center;

                  .purchaseHeaderItem {
                    background-color: lighten(@Green-Basic, 45%);
                    color: #666;
                    text-align: left;

                  }

                }

                .estimateHeader {
                  border-bottom: solid 2px @Purple-Basic;
                  padding-bottom: 4px;
                  background-color: @Purple-Basic;
                  color: white;
                  text-align: center;

                  .estimateHeaderItem {
                    background-color: lighten(@Green-Basic, 45%);
                    color: #666;
                    text-align: left;


                  }
                }
              }

              .inputDetailEntries {
                display: inline-block;
                float: left;
                width: 100%;

                h4 {
                  margin: 0;
                  font-size: 16px;
                }

              }

              .entered {
                .itemBudget, .itemVolume {
                  text-align: right;
                  padding-right: 30%;
                }

                .info {
                  text-align: center;
                  padding-right: 4px;
                }

                .remove {
                  color: @Orange-Basic;
                  font-size: 20px;
                  cursor: pointer;
                }
              }

              .inputDetailEntries.entering {
                select,  input {
                  height: 32px;
                }

                input {
                  border-radius: 4px;
                  width: 70%;
                  text-align: right;
                  padding-right: 4px;

                }

                .itemBudget > i {
                  position: absolute;
                  top: 6px;
                  left: 4px;
                }

                .itemBudget > input {
                  padding-left: 8px;
                }

                .confirm {
                  color: @Green-Basic;
                  font-size: 20px;
                  cursor: pointer;
                }

                .info, .confirm {
                  margin-top: 6px;
                }

                .info {
                  text-align: center;
                  padding-right: 4px;
                }

              }

              .inputDetailEntries+.inputDetailEntries {
                margin-top: 10px;
              }

              .inputDetailHeader + .inputDetailEntries {
                margin-top: 20px;
              }

              .inputDetailHeader + .entered {
                margin-top: 26px;
              }

              .saveRow {
                margin-bottom: 12px;
                margin-top: 10px;

                .saveThisEntry {
                  cursor: pointer;
                  margin-right: 4px;
                  float: right;
                  border: solid 1px @Green-Basic;
                  color: @Green-Basic;
                  border-radius: 4px;
                  padding: 10px;
                  font-size: 16px;
                }

                .saveThisEntry:hover {
                  border: solid 2px @Green-Basic;
                  padding: 9px;
                }
              }

            }
          }

          .cartDetailItem:hover {
            .deleteItem {
              display: inline-block;
            }
          }

          .cartDetailEmpty {
            border-top: solid 1px #888;
            margin-top: 15px;

            h4 {
              color: #888;
              font-size: 20px;
            }
          }

          .cartDetailItem.editing {
            background-color: @Orange-Basic;
            border: solid 1px @Orange-Basic;

            .itemGradeSelection {
              background-color: @Orange-Basic;
              z-index: 10;
            }

            .cartDetailItemRight {
              background-color: lighten(@Orange-Basic, 45%);
            }
            .inputDetailHeader {
              .purchaseHeaderItem, .estimateHeaderItem {
                background-color: lighten(@Orange-Basic, 45%)!important;
              }
            }

          }
        }
      }

    }
  }

  .allCartSummaryColumn {
    display: inline-block;
    position: relative;
    border: solid 1px #ccc;
    border-radius: 4px;
    width: 100%;
    padding: 15px;
    background-color: lighten(@Green-Basic, 45%);
    min-height: 380px;

    .allCartSummaryHeader {
      position: relative;
      width: 100%;
      display: inline-block;
      margin-bottom: 15px;

      h3 {
        color: @Green-Dark;
      }
    }

    .allCartSummaryRow {
      position: relative;
      width: 100%;
      display: inline-block;
      margin-bottom: 15px;
    }
  }

  .goToPlanConfirmation {
    display: inline-block;
    position: relative;
    cursor: pointer;
    border-radius: 4px;
    width: 100%;
    padding: 15px;
    color: white;
    font-size: 18px;
    text-align: center;
    .btnGrad(top, @Green-Basic, @Green-Dark);

    &:hover {
      .btnGrad(top, @Green-Basic, @Green-Darkest);
    }

  }

  .allCartSummaryColumn + .goToPlanConfirmation{
    margin-top: 20px;
  }





}
